<%= simple_form_for(user) do |f| %>
	<%= f.input :email %>
	<%= f.input :name %>
	<%= f.input :biography, :input_html => {:style => "height:50px;"} %>
	<%= f.input :date_of_birth %>
	<%= f.input :favorite_color %>
	<%= f.input :avatar %>
	<%= f.button :submit, :class => "green button" %>
	<div id="fileQueue"></div>
<% end %>