<%= form_for(post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>: 
	<%= f.collection_select(:user, User.scoped, "id", "name", {:include_blank => "Select Author", :key => :user_id}) %>
  </div>
  <div class="field">
    <%= f.label :title %>: <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :style => "height:50px;width:300px;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
