<%= stylesheet_link_tag "posts" %>
<%= javascript_include_tag "chiropractor_helpers" %>

<script>
	<%= chiropractor_scripts(Post,@posts.to_json(:include => :user), {
		:before_edit => "editFormText", 
		:after_update => "updateComplete",
		:before_new => "newFormText", 
		:after_create => "createComplete", 
		:on_error => "saveError"}) 
	%>
</script>

<div style="width:800px;margin:10px;" class="fl">
	<h1>
		Listing posts
		<%= link_to('New Post', new_post_path, :rel => "#post_form_container", :id => "new_post", :class => "green button fr") %>
	</h1>

	<div id="post_form_container" data-model="post" data-view="edit">
		<h2>Edit Post</h2>
		<div>
			<%= render :partial => 'form', :locals => {:post => @post} %>
		</div>
	</div>
	
	<table class="data" width="100%">
		<thead>
			<tr>
				<th data-action="sort" data-attribute="user">User<span class="icon"/></th>
				<th data-action="sort" data-attribute="title">Title<span class="icon"/></th>
				<th data-action="sort" data-attribute="content">Content<span class="icon"/></th>
				<th style="width:180px;">&nbsp;</th>
			</tr>
		</thead>
		<tbody data-collection="posts">
			<% @posts.each do |post| %>
				<%= render :partial => "index_row", :locals => {:post => post} %>
			<% end %>
			<%= render :partial => "index_row", :locals => {:post => Post.new, :template => true} %>
		</tbody>
	</table>
	
</div>

<div class="fl bordered" style="width:300px;">
	<div id="post_display_form" data-model="post" data-view="show">
		<p><b>User:</b> <%= ajax_content_tag(@post, "user.name") %></p>
		<p><b>Title:</b> <%= ajax_content_tag(@post, :title) %></p>
		<p><b>Content:</b> <%= ajax_content_tag(@post, :content) %></p>
		<p><b>Updated:</b> <%= ajax_content_tag(@post, :updated_at) %></p>
	</div>
</div>

<div class="clr"></div>

